
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	@apply bg-white;
	height: 100%;
}

/* Eliminates scrollbar for the stayAt field in Plan Page */
.custom-scrollbar::-webkit-scrollbar {
	display: none; 
  }
  
  .custom-scrollbar {
	-ms-overflow-style: none; 
	scrollbar-width: none;
  }
